body{
    text-align: center;
}
header{
    background-color:  rgb(102,187,34);
    padding: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    font-size: 25px;
    color: black;
    text-decoration: none;
}
li{
    flex: auto;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
    transition-duration: 0.5s;
}
li:hover{
    color: white;
    transition-duration: 0.5s;
}
section{
    display: flex;
}
article{
    flex: auto;
}
#imgCarrinho{
    width: 20px;
}
figcaption{
    font-size: large;
}
#formCompra input{
    border: black 1px solid;
    background-color: rgb(102,187,34) ;
    color: white;
}
#formContato{
    width: 40%;
    text-align: center;
    margin: auto;

}
.inputConfig{
    width: 100%;
    border: 1px #ccc;
    justify-content: center;
}
#botEnviar{
    border: 1px#ccc;
    padding: 12px;
}